@()
@layouts.html.default("Scalatra: a tiny, Sinatra-like web framework for Scala", "Todo Stack"){

<div id="app">
  {{ message }}
  <draggable v-model="myArray" group="people" @@start="drag=true" @@end="drag=false">
    <div v-for="element in myArray" :key="element.id"> {{ element.name }} </div>
  </draggable>
</div>
<script> 
  var app = new Vue({
    el: '#app',
    data: { 
      message: 'This is a todo manage application!',
      myArray: [
        { id:0, name :'work'},
        { id:1, name :'cleaning'},
        { id:2, name :'mail'},
      ]
    }
  })
</script>
}
