@()
@layouts.html.default("Scalatra: a tiny, Sinatra-like web framework for Scala", "Todo Stack"){

<div id="app">
  {{ message }}
  <button class="button" v-on:click="add">Add</button>
  <nav class="panel box">
    <draggable v-model="myArray" group="people" @@start="drag=true" @@end="drag=false">
    <todo-item v-for="item in myArray" v-bind:todo="item" v-bind:key="item.id"></todo-item>
    </draggable>
  </nav>
</div>
<script> 
  var TodoComponent = {
    props: ['todo'],
    template: '<a class="panel-block">{{ todo.name }}</a>'
  }

  var data = [
    { id:0, name :'work'},
    { id:1, name :'cleaning'},
    { id:2, name :'mail'},
  ]

  var app = new Vue({
    el: '#app',
    components: {
      'todo-item': TodoComponent
    },
    data: { 
      message: 'This is a todo manage application!',
      myArray: data
    },
    methods: {
      add: function (event) {
        this.myArray.push({id:this.myArray.length+1, name:'hoge'})
      }
    }
  })
</script>
}
